.container{
  position: relative;
}
.person {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  background-color: rgb(247, 221, 243);
  box-shadow: 2px 2px 5px 2px rgb(163, 165, 172);
}
.person:hover {
  background-color: rgb(248, 206, 242);
  cursor: pointer;
}
.close {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-bottom: 2.5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}
.close:hover{
  cursor: pointer;
}
p {
  color: gray;
}
h2 {
  text-align: center;
}
.image {
  box-sizing: border-box;
  border-radius: 50px;
  background-position: top;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: auto;
}
button.toggle{
  color:blue;
 border: 0px solid transparent;
  background-color: transparent;
  display: inline;
}
button.toggle:hover{color:rgb(4, 4, 216);cursor: pointer;}
p.info{text-align: unset;}
@media screen and (min-width: 760px) {
  .person {
    display: flex;
    flex-direction: row;
  }
  .name {
    width: 75%;
  }
  .image {
    width: 100px;
    height: 100px;
  }
}
